*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #312f2f;
  --clr-dark: #edffff;
  --clr-accent: #007fff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-manual: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 25);
}

@media (min-width: 1000px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    --fs-manual: 1.125rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #af5d63;
  background-image: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  overflow-x: hidden;
  /* background-color: #efefef; */
}

section {
  padding: 5em 1em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.divider {
  height: 2px;
  width: 80%;
  background: blue;
  background: linear-gradient(
    90deg,
    hsl(0, 0%, 20%),
    hsl(0, 0%, 70%),
    hsl(0, 0%, 20%)
  );
}

strong {
  font-weight: 1000000;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

@media (min-width: 970px) {
  html {
    width: 100%;
    height: auto;
  }
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
  color: --var(--clr-light);
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-manual);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.5em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.logo {
  max-width: 100px;
}

/* Intro Section */

#home {
  position: relative;
  height: 100%;
}

.section__title--intro {
  color: var(--clr-light);
}

.intro__img {
  box-shadow: var(--bs);
}

@media (min-width: 960px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
    color: var(--clr-light);
  }

  .intro__img {
    grid-area: img;
    min-width: 500px;
    position: relative;
    z-index: 2;
  }

  .section__title--intro {
    color: var(--clr-light);
  }

  .section__subtitle--intro {
    align-self: start;
    /* grid-column: -1 / 1; */
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    color: var(--clr-dark);
  }
}

/* More about me */

.skill-name {
  clear: both;
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 18em;
  /* color: var(--clr-light); */
}

.section__title--about {
  color: var(--clr-light);
}

.about-me__body {
  color: var(--clr-light);
}

.skills {
  justify-content: space-between;
  width: max-content;
  padding-top: 100px;
  flex-direction: row;
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* justify-items: center; */
  align-items: center;
}

.skills-card {
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin-left: 15px;
  margin-bottom: 15px;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  float: left;
  color: var(--clr-light);
}

@media (min-width: 600px) {
  .about-me {
    /* display: grid; */
    /* grid-template-columns: 1fr 350px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img"; */
    /* grid-column-gap: 2em; */
    justify-content: center;
    color: var(--clr-light);
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2em;
    position: relative;
    left: -2em;
    padding-left: 1em;
    padding-right: calc(200px + 4em);
    color: var(--clr-dark);
  }

  .about-me__img {
    position: relative;
  }
}

@media (max-width: 880px) {
  .skills {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
  }
}

/* School and Work Experiences */

.school-and-work-experiences {
  /* background-color: var(--clr-dark); */
  color: var(--clr-light);
  /* background-image: url(https://www.visittheusa.com/sites/default/files/styles/16_9_1280x720/public/2016-11/HERO%201%20-%20Stone%20Arch_Weave%20copy_Web72DPI.jpg?itok=TbRoOsrX); */
  background-blend-mode: multiply;
  text-align: center;
}

.section__title--sawe {
  color: var(--clr-accent);
  position: relative;
}

.section__title--sawe::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

/* .internship-experience {
  display: flex;
  flex-direction: column;
} */

.sawe-div {
  margin-bottom: 4em;
  margin-top: 4em;
  width: 100%;
  height: auto;
}

.sawe-div__description {
  margin-left: 4em;
  margin-top: 3em;
}

.sawe {
  /* background-color: #faf9f9; */
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 70px;
}

.sawes {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
}

.infor-logo {
  border: 0.2rem solid #ec0c08;
  box-shadow: 0 0 20px 1px #c20a07;
  width: 300px;
  height: auto;
}

.sps-logo {
  border: 0.2rem solid #01abe5;
  box-shadow: 0 0 20px 1px #008cba;
  width: 300px;
  height: auto;
}

.trane-logo {
  border: 0.2rem solid #6600ff;
  box-shadow: 0 0 20px 1px #5800dc;
  width: 300px;
  height: auto;
}

@media (min-width: 800px) {
  .sawe-div {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .sawes + .sawes {
    margin-left: 2em;
  }
}

@media (max-width: 800px) {
  .sawe-div__description {
    margin: auto;
    margin-top: 4em;
  }

  .infor-logo,
  .sps-logo,
  .trane-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
}

.work-btn {
  display: flex;
  justify-content: center;
}

/* My Work */

.my-work {
  /* background-color: var(--clr-dark); */
  color: var(--clr-light);
  text-align: center;
}

.section__subtitle--mw {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 10fr));
  max-width: auto;
}

.portfolio__item {
  background: var(--clr-accent);
  position: relative;
}

.portfolio__img {
  display: block;
  width: 100%;
  height: auto;
  /* padding-bottom: 2em; */
}

.portfolio__description {
  color: white;
  position: relative;
  padding-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item.hover_effect {
  visibility: visible;
  opacity: 1;
}

@media (hover: none) {
  .portfolio__item .portfolio__overlay {
    visibility: visible;
    opacity: 0.88;
  }
}

/* Footer */

.footer {
  background: #af5d63;
  color: var(--clr-light);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-align: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Individual Portfolio Item Styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.fa-brands {
  color: var(--clr-accent);
}
